<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.buyer.mapper.AccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.kcc.buyer.domain.AccountInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_info_id" jdbcType="INTEGER" property="companyInfoId" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="tfn" jdbcType="VARCHAR" property="tfn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_info_id, bank_account, bank_name, location, telephone, tfn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSelective" parameterType="com.kcc.buyer.domain.AccountInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account_info
    <trim prefix="where" prefixOverrides="and">
      <if test="id != null">
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="companyInfoId != null">
        and company_info_id = #{companyInfoId,jdbcType=INTEGER}
      </if>
      <if test="bankAccount != null">
        and bank_account = #{bankAccount,jdbcType=VARCHAR}
      </if>
      <if test="bankName != null">
        and bank_name = #{bankName,jdbcType=VARCHAR}
      </if>
      <if test="location != null">
        and location = #{location,jdbcType=VARCHAR}
      </if>
      <if test="telephone != null">
        and telephone = #{telephone,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kcc.buyer.domain.AccountInfo">
    insert into account_info (id, company_info_id, bank_account, 
      bank_name, location, telephone, 
      tfn)
    values (#{id,jdbcType=INTEGER}, #{companyInfoId,jdbcType=INTEGER}, #{bankAccount,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{tfn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kcc.buyer.domain.AccountInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyInfoId != null">
        company_info_id,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="tfn != null">
        tfn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyInfoId != null">
        #{companyInfoId,jdbcType=INTEGER},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="tfn != null">
        #{tfn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kcc.buyer.domain.AccountInfo">
    update account_info
    <set>
      <if test="companyInfoId != null">
        company_info_id = #{companyInfoId,jdbcType=INTEGER},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="tfn != null">
        tfn = #{tfn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kcc.buyer.domain.AccountInfo">
    update account_info
    set company_info_id = #{companyInfoId,jdbcType=INTEGER},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      tfn = #{tfn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>