<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.buyer.mapper.AccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.kcc.buyer.domain.AccountInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_info_id" jdbcType="INTEGER" property="companyInfoId" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="tfn" jdbcType="VARCHAR" property="tfn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_info_id, bank_account, bank_name, location, telephone, tfn
  </sql>
  <select id="selectByCompanyInfoId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account_info
    where company_info_id = #{companyInfoId,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="com.kcc.buyer.domain.AccountInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyInfoId != null">
        company_info_id,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="tfn != null">
        tfn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyInfoId != null">
        #{companyInfoId,jdbcType=INTEGER},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="tfn != null">
        #{tfn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>