<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.buyer.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.kcc.buyer.domain.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_uuid" jdbcType="VARCHAR" property="orderUuid" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="upper_money" jdbcType="VARCHAR" property="upperMoney" />
    <result column="at_money" jdbcType="DOUBLE" property="atMoney" />
    <result column="upper_at_money" jdbcType="VARCHAR" property="upperAtMoney" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_uuid, money, upper_money, at_money, upper_at_money, comment, status
  </sql>
  <select id="selectCurrentLastNo" parameterType="java.lang.String" resultType="java.lang.String">
    select `order_uuid` from `order` where  `order_uuid` like "%"#{date}"%" order by `order_uuid` desc limit 1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOrderAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `order`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kcc.buyer.domain.Order">
    insert into `order` (id, order_uuid, money, upper_money, at_money, at_upper_money, comment, status
      )
    values (#{id,jdbcType=INTEGER}, #{orderUuid,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE},
    #{upperMoney,jdbcType=VARCHAR}, #{atMoney,jdbcType=DOUBLE}, #{upperAtMoney,jdbcType=VARCHAR},
    #{comment,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kcc.buyer.domain.Order" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderUuid != null">
        order_uuid,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="upperMoney != null">
        upper_money,
      </if>
      <if test="atMoney != null">
        at_money,
      </if>
      <if test="upperAtMoney != null">
        upper_at_money,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderUuid != null">
        #{orderUuid,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="upperMoney != null">
        #{upperMoney,jdbcType=VARCHAR},
      </if>
      <if test="atMoney != null">
        #{atMoney,jdbcType=DOUBLE},
      </if>
      <if test="upperAtMoney != null">
        #{upperAtMoney,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kcc.buyer.domain.Order">
    update `order`
    <set>
      <if test="money != null">
        money = #{orderUuid,jdbcType=DOUBLE},
      </if>
      <if test="upperMoney != null">
        upper_money = #{upperMoney,jdbcType=VARCHAR},
      </if>
      <if test="atMoney != null">
        at_money = #{atMoney,jdbcType=DOUBLE},
      </if>
      <if test="upperAtMoney != null">
        upper_at_money = #{upperAtMoney,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>