<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.buyer.mapper.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.kcc.buyer.domain.OrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="pack" jdbcType="VARCHAR" property="pack" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="at_price" jdbcType="DOUBLE" property="aTPrice" />
    <result column="total_price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="at_total_price" jdbcType="DOUBLE" property="aTTotalPrice" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="tax_rate" jdbcType="DOUBLE" property="taxRate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, currency, `describe`, pack, price, at_price, total_price, at_total_price, quantity, tax_rate
  </sql>
  <select id="selectSelective" parameterType="com.kcc.buyer.domain.OrderDetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    <trim prefix="where" prefixOverrides="and">
      <if test="orderId != null">
        and order_id=#{orderId,jdbcType=VARCHAR}
      </if>
      <if test="describe != null">
        and `describe`=#{describe,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
  <select id="selectByOrderId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_detail
    where order_id=#{orderId,jdbcType=VARCHAR}
  </select>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into order_detail (id, order_id, currency, 
      `describe`, pack, price, at_price, total_price, at_total_price,
      quantity, tax_rate )
    values
    <foreach collection="collection" item="orderDetail" index="index" separator=",">
      (#{orderDetail.id,jdbcType=INTEGER}, #{orderDetail.orderId,jdbcType=INTEGER}, #{orderDetail.currency,jdbcType=VARCHAR},
      #{orderDetail.describe,jdbcType=VARCHAR}, #{orderDetail.pack,jdbcType=VARCHAR}, #{orderDetail.price,jdbcType=DOUBLE},
      #{orderDetail.aTPrice,jdbcType=DOUBLE},#{orderDetail.totalPrice,jdbcType=DOUBLE}, #{orderDetail.aTTotalPrice,jdbcType=DOUBLE},
      #{orderDetail.quantity,jdbcType=INTEGER}, #{orderDetail.taxRate,jdbcType=DOUBLE}
      )
    </foreach>
  </insert>
</mapper>