<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcc.buyer.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.kcc.buyer.domain.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="pack" jdbcType="VARCHAR" property="pack" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="tax_rate" jdbcType="DOUBLE" property="taxRate" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `no`, company_id, `describe`, currency, pack, price, tax_rate, `type`, status
  </sql>
  <select id="selectBySelective" parameterType="com.kcc.buyer.domain.Product" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product
    <trim prefix="where" prefixOverrides="and">
      <if test="companyId != null">
        and company_id = #{companyId}
      </if>
    </trim>
  </select>
  <select id="selectCurrentLastNo" parameterType="java.util.Map" resultType="java.lang.String">
    select `no` from product where  `no` like #{date}"%" order by `no` desc limit 1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="java.util.List">
    insert into product (id, `no`, company_id,
      `describe`, currency, pack,
      price, tax_rate, `type`,
      status)
    values
    <foreach collection="collection" item="product" index="index" separator=",">
      (#{product.id,jdbcType=INTEGER}, #{product.no,jdbcType=VARCHAR}, #{product.companyId,jdbcType=INTEGER},
      #{product.describe,jdbcType=VARCHAR}, #{product.currency,jdbcType=VARCHAR}, #{product.pack,jdbcType=VARCHAR},
      #{product.price,jdbcType=DOUBLE}, #{product.taxRate,jdbcType=DOUBLE}, #{product.type,jdbcType=INTEGER},
      #{product.status,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.kcc.buyer.domain.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        `no`,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="describe != null">
        `describe`,
      </if>
      <if test="currency != null">
        currency,
      </if>
      <if test="pack != null">
        pack,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="taxRate != null">
        tax_rate,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="pack != null">
        #{pack,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="taxRate != null">
        #{taxRate,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kcc.buyer.domain.Product">
    update product
    <set>
      <if test="no != null">
        `no` = #{no,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="describe != null">
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="currency != null">
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="pack != null">
        pack = #{pack,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="taxRate != null">
        tax_rate = #{taxRate,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kcc.buyer.domain.Product">
    update product
    set `no` = #{no,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      `describe` = #{describe,jdbcType=VARCHAR},
      currency = #{currency,jdbcType=VARCHAR},
      pack = #{pack,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      tax_rate = #{taxRate,jdbcType=DOUBLE},
      `type` = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>